<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<package name="com.jd.y.ipc.saas.demo.model" />
	</typeAliases>
	<typeHandlers>
	</typeHandlers>

	<plugins>
		<plugin interceptor="com.jd.y.ipc.saas.common.mybatis.MybatisPageableInterceptor">
			<property name="dialectClass"
				value="com.jd.y.ipc.saas.common.mybatis.MySQLDialect" />
		</plugin>
	</plugins>


</configuration>
